In [ ]:
import numpy as np
x = np.linspace(0, 5, 100)
y = np.linspace(0, 5, 100)[:, np.newaxis]
z = x+y

import matplotlib.pyplot as plt

plt.imshow(z, origin='lower', extent=[0, 5, 0, 5],cmap='viridis')
plt.colorbar();

In [ ]:
import numpy as np
np.random.seed(1)
x = np.random.rand(4)
x.sum()

In [ ]:
z = np.linspace(-10,10,5)
x

In [ ]:
x = np.random.randint(10,size = 5)
x

In [ ]:
np.sum(x)/5

In [ ]:
y = np.where(x>2, 2,0)
y

In [ ]:
np.random.randint(1,10, size = (3,3))

In [ ]:
mean = [0, 0]
cov = [[1, 2],
       [2, 5]]
X = np.random.multivariate_normal(mean, cov, 100)
X
indices = np.random.choice(X.shape[0], 20, replace=False)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set() # for plot styling

heights =  [189,170 ,189 ,163, 183, 171, 185, 168, 173 ,183, 173, 173, 175, 178, 183, 193 ,178, 173,
     174, 183, 183, 168, 170, 178, 182, 180, 183, 178, 182, 188 ,175, 179, 183, 193, 182, 183,
     177, 185, 188, 188, 182, 185]

plt.hist(heights)

In [ ]:
selection

In [ ]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn; seaborn.set() # for plot styling
np.random.seed(40)
x = np.random.randint(100,size=100)
bins = np.linspace(0, 100, 20)
counts = np.zeros_like(bins)
i = np.searchsorted(bins, x)
np.add.at(counts,i,10)
plt.plot(bins , counts,linestyle='-',drawstyle='steps');

In [ ]:
M = np.ones((3, 2))
a = np.ones((3,2))
M + a

In [ ]:
a = list(map(int,input().split()))

f = lambda a : a**a

for i in a:
    print(f(i), end=" ")

In [ ]:
import numpy as np
x = np.random.randint(100,size = 10)
a = np.array([1,2,3])
print(x)

x[a]

In [ ]:
mean = [0, 0]
cov = [[1, 2],
        [2, 5]]
X = np.random.multivariate_normal(mean, cov, 100)
X[1:5,1]

In [ ]:

X = rand.randint(0, 10, (4, 6)) 
print(X)

X.sort(axis=1)
X.sort(axis=0)
X

In [ ]:
x = int(input("enter the number"))
a = []

In [ ]:
for i in range(x):
    a.append(int(input()))

In [ ]:
print(a)
if(x==5):
    print("x is 5")

In [ ]:
s = input()
print(s.split())

In [ ]:
# importing Numpy package
import numpy as np

# Creating a numpy array using np.array()
ary = np.array([13, 99, 100, 34, 65, 11,
				66, 81, 632, 44])

print("Original array: ")

# printing the Numpy array
print(ary)

# Creating an empty Numpy array similar
# to ary


# Now assign ary to copy
copy = ary
ary = np.array([13, 99, 34, 65, 11,
				66, 81, 632, 44])

print("\nCopy of the given array: ")

# printing the copied array
print(copy)

In [ ]:
# importing pandas as pd
import pandas as pd
 
# Creating the dataframe
df = pd.DataFrame({'Date':['11/8/2011', '04/23/2008', '10/2/2019'],
                'Event':['Music', 'Poetry', 'Theatre'],
                'Cost':[10000, 5000, 15000]})
 
# Print the dataframe
print(df)
 
# Now we will check the data type
# of the 'Date' column
df.iloc[1:3]
data = np.round(np.random.randn(4, 6), 1)


a = data

In [ ]:
import pandas as pd
import numpy as np

index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                       names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],names=['subject', 'type'])

a = np.random.randint(1,10, size = (4,6))

health_data = pd.DataFrame(a, index=index, columns=columns)
health_data

In [ ]:
health_data.mean(axis=1)

In [ ]:
data_mean = health_data.groupby(level='visit').mean()
data_mean

In [ ]:
import pandas as pd


def make_df(cols, ind):
    return ({c: [str(c) + str(i) for i in ind] for c in cols})
    
df1 = pd.DataFrame(make_df('AB', [1, 2]))
df2 = pd.DataFrame(make_df('AC', [2,3]))

pd.concat([df1,df2])

In [ ]:


a = ["one","two","three","four","five"]
b = ["1","2","3","4","5"]

for i in (list(input().split())):
    if(i in b):
        print(a[int(i)-1],end=" ")
    else:
        print(i,end=" ")

In [ ]:
xi = [i for i in range(10)]
x

In [ ]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR'],
                   'hire_date': [2004, 2008, 2012, 2014]})
df2 = pd.DataFrame({'employee': ['hello', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})

In [ ]:
print(df1,"\n",df2)
pd.merge(df1,df2,on="employee",suffixes=["_a","_b"])

In [ ]:
pop = pd.read_csv('state-population.csv')
areas = pd.read_csv('state-areas.csv')
abbrevs = pd.read_csv('state-abbrevs.csv')
print(pop.head()); print(areas.head()); print(abbrevs.head())

In [ ]:
merged = pd.merge(pop, abbrevs,how='outer',
                left_on='state/region', right_on='abbreviation')
merged = merged.drop('abbreviation', 1) # drop duplicate info

col = ['state','state/region','ages','year','population']

merged = merged.reindex(columns = col)

merged[merged['ages']=='total']

In [ ]:
merged.loc[merged['state/region']=='PR','state']='Puerto Rico'
merged.loc[merged['state/region']=='USA','state']='United States'
merged.isnull().any()

In [ ]:
final = pd.merge(merged,areas,on='state',how='outer')
final

In [ ]:
final.loc[final['area (sq. mi)'].isnull(),'state'].unique()

In [ ]:
arr = [1,2,3,4,5]

for i in arr:
    print(i**2)

In [1]:
a = pd.read_csv("hotel_bookings.csv")
b = a.query("is_canceled == 0 & arrival_date_year == 2017")

b.crosstab(index='arrival_date_month)

SyntaxError: EOL while scanning string literal (3487346104.py, line 4)

In [ ]:
import seaborn as sns
import pandas as pd
planets = sns.load_dataset('planets') 
planets.groupby('mass').head()

In [ ]:
import pandas as pd
poke = pd.read_csv("pokemon.csv")